
<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <script src="angular.min.js"></script>
    <script type="text/javascript" src='app.js'></script>
  </head>
<body>
   <div ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div>
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             ng-model="list">
          </div>
          <br>
         <div>
           {{msg}}
         </div>
         <br>
         <div>
             <button class="btn btn-default" ng-click="checkItems()">Check If Too Much</button>
         </div>
   </div>
</body>
</html>
